body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
}

header {
    background-color: #a00f55;
    color: #ffffff;
    padding: 20px 0;
}

.col-md-4 .card img {
    height: 200px; 
    width: auto; 
}

.btn-primary:hover {
    background-color: #a00f55;
    border-color: #a00f55;
  }